/* myStyle.css */
body {
    background-color: #0e1111;
    color: #37BC9B;
   }
   h1 {
    background-color: #282828;
    color: rgb(255, 255, 255);
    text-align: center;
    font: Georgia 200% fantasy;
   }
   h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font: Georgia 200% fantasy;
   }
   p {
    background-color: #0c0032;
    color: #ffffff;
    text-align: right;
    border: 3px groove rgb(0, 0, 0);
   }
   .column{
    float: left;
    width: 33.33%;
    padding: 10px;
    height : 100px;
  }
